<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
					<h3 class="title-soft underline">Novo Produto</h3>
					<form id="product-create-form" class="box-1">
						<input type="hidden" name="id" value="0" autocomplete="off">
						<input type="number" name="code" class="btn-generic-big" placeholder="C贸d do produto" min="1" max="9999" autocomplete="off">
						<input type="text" name="name" class="btn-generic-big" placeholder="Nome do produto" autocomplete="off" maxlength="30">
						<br>
						<select name="color" class="btn-generic-big" autocomplete="off">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<select name="size" class="btn-generic-big" autocomplete="off">
							<option value="">Tamanho</option>
							<option value="ST">Sem tamanho</option>
							<option value="PP">PP</option>
							<option value="P">P</option>
							<option value="M">M</option>
							<option value="G">G</option>
							<option value="GG">GG</option>
						</select>
						<br>
						<input type="submit" name="submit" class="btn-submit" value="Cadastrar">
					</form>
				</div>
				<div class="box-2">
					<h3 class="underline">Buscar Produtos</h3>
					<form id="product-filter-form" class="box-1">
						<input type="hidden" name="location" value="productManage" autocomplete="off">
						<input type="text" name="name" class="btn-generic-small" placeholder="Nome" autocomplete="off">
						<input type="number" name="code" class="btn-generic-small" placeholder="C贸d" autocomplete="off">
						<select name="color" class="btn-generic-small" autocomplete="off">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<input type="submit" name="submit" class="btn-submit" value="Filtrar">
					</form>
					<div id="product-manage-filter-div" style="display:none">
						<table class="tbl-info box-1" id="product-manage-filter-tbl"></table>
						<br>
						<button id="productManagePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="productManagePageNumber"></span>
	                    <button id="productManageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
					</div>
				</div>
				
				<div class="box-1" id="product-show-box" style="display:none;">
					<table class="tbl-info box-1" id="product-show-tbl">
						<tr>
							<td>C贸d</td>
							<td>Nome</td>
							<td>Tamanho</td>
							<td>Cor</td>
						</tr>
						<tbody id="product-show-tbody"></tbody>
					</table>
					<div class="box-1" id="product-feedstock-div" style="display:none">
						<div id="product-addFeedstock-div">
							<!-- Feedstock filter form -->
							<form id="feedstock-filter-form" class="box-1">
								<input type="hidden" name="location" value="productAddFeedstock">
								<input type="text" name="feedstock_code" class="btn-generic-small" placeholder="C贸d" autocomplete="off">
								<input type="text" name="name" class="btn-generic-small" placeholder="Nome" autocomplete="off">
								<select name="color" class="btn-generic-small">
									<option value="">Cor</option>
									<% for(i in feedstockColors){ %>
										<option value="<%= feedstockColors[i].shortcut %>"><%= feedstockColors[i].name %></option>
									<% } %>
								</select>
								<input type="submit" class="btn-submit" value="Filtrar">
							</form>

							<!-- Feedstock  -->
							<form class="box-1" id="product-addFeedstock-form">
								<input type="hidden" name="id" value="">
								<input type="hidden" name="product_id">
								<select name="feedstock_id" class="btn-generic-big"></select>
								<input type="number" name="feedstock_amount" class="btn-generic-small price" step="0.01" placeholder="cm/un" onfocus="if(this.value < 0.01){this.value=''}" onblur="if(this.value < 0.01){this.value='0.00'}"/>
								<input type="submit" name="submit" class="btn-submit" value="Cadastrar">
							</form>
						</div>
					</div>
					<div id="product-feedstock-box" class="box-1" style="display:none">
						<table id="product-feedstock-tbl" class="tbl-info box-1"></table>
					</div>
					<div class="box-1" id="product-image-show"></div>
					<button id="imagePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
                    <span id="imagePageNumber"></span>
                    <button id="imageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <script src="/javascripts/scripts/product/feedstock.js"></script>
		<script src="/javascripts/scripts/feedstock/main.js"></script>
		<script src="/javascripts/scripts/feedstock/tables.js"></script>
	</footer>
</html>